* {
  margin: 0;
  padding: 0;
}



/* Estilo general del cuerpo */
body {
  font-family: Arial, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #021c1e;
  background-image: url(../imagenes/fondo-total.avif);
}

/* Estilos del encabezado */
.header {
  width: 100%;
  /* Ocupa el 100% del ancho */
  height: 100%;
  /* Altura del header */
  color: white;
  position: fixed;
  z-index: 1000;
}

/* Menú lateral */
.menu {
  width: auto;
  height: auto;
  /* Ocupa toda la altura disponible */
  color: rgb(255, 253, 253);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  background-color: #61544bb2;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: rgb(207, 133, 149);
}

.nav ul li {
  cursor: pointer;
  transition: all 300ms ease-in;
  padding: 10px;

}

.nav ul li:hover {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230415/pngtree-website-technology-ray-blue-background-image_2344464.jpg);
  border: solid 1px rgb(252, 251, 251);
  color: white;
}

.nav ul li a {
  text-decoration: none;
  color: rgb(207, 133, 149);
}

.nav ul li a :hover {
  color: white;
}

.nav ul li ul {
  position: absolute;
  display: block;
  top: 80px;
  right: 200px;
  display: none;
}


.nav ul li ul .section {
  position: absolute;
  display: none;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
}

.nav ul li ul .contfor {
  position: absolute;
  display: none;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
}


.header .nav ul li:focus-within>ul,
.header .nav ul li:hover>ul {
  display: initial;
}

.header .nav ul li:focus-within>.section,
.header .nav ul li:hover>.section {
  display: initial;
}

.header .nav ul li:focus-within>.contfor,
.header .nav ul li:hover>.contfor {
  display: initial;
}

.logo {
  width: 200px;
  height: auto;
  padding: 10px;
}

/* Sección principal */
.section {
  width: 500px;
  height: auto;
  right: 180px;
}



/* Estilo para la sección de actualización */
.Actualización {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* Coloca los elementos en una columna */
  gap: 1px;
  /* Espacio entre los elementos */
  padding: 15px;
}

/* Estilo para los labels */
.Actualización label {
  font-size: 14px;
  margin-bottom: 2px;
  border: solid rgb(0, 0, 0) 1px;
  width: 80%;
  padding: 15px;
  font-size: 18px;
  margin-top: 15px;
  color: rgb(0, 0, 0);
}

/* Estilo para los campos de input y select */
.Actualización input {
  padding: 15px;
  font-size: 16px;
  width: 80%;
  border: solid 1px black;
}

.dias {
  display: none;
  position: absolute;

}

.section .Actualización #disponibles:focus-within>.dias,
.section .Actualización #disponibles:hover>.dias {
  display: initial;
}

/* Estilo de los botones */
.btnprimary {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  background-color: #5e3f34a6;
  font-size: 20px;
}

.btnprimary:hover {
  color: white;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/831/146/small/banner-web-template-abstract-blue-and-golden-wave-curved-lines-overlapping-layer-design-on-dark-blue-background-luxury-style-vector.jpg);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

/* Estilo para el botón primario */
.primary {
  background-image: linear-gradient(to right, #4A322A, #EBCCC8);
}

.contfor {
  width: 500px;
  height: auto;
  right: 180px;
}

/* From Uiverse.io by guilhermeyohan */
.form {
  display: flex;
  flex-direction: column;
  /* Coloca los elementos en una columna */
  align-items: center;
  gap: 1px;
  /* Espacio entre los elementos */
  width: 100%;
}

.form label {
  font-size: 14px;
  margin-bottom: 2px;
  border: solid rgb(0, 0, 0) 1px;
  width: 80%;
  padding: 15px;
  font-size: 18px;
  margin-top: 15px;
  color: rgb(0, 0, 0);
}

.form input {
  padding: 15px;
  font-size: 16px;
  width: 80%;
  color: black;
  border: 1px solid black;
}

#nome {
  width: 80%;

}

.contfor .form label:focus-within>#dias,
.contfor .form label:hover>#dias {
  display: initial;
}

.contfor .form label:focus-within>#dias-sema,
.contfor .form label:hover>#dias-semana {
  display: initial;
}

#dias-semana {
  display: none;
  position: absolute;
  font-size: 16px;
}

#dias {
  display: none;
  position: absolute;
  font-size: 16px;
}



#data {
  padding: 15px;
  width: 80%;
  margin-top: 15px;
}



.boton2 {
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  background-color: #5e3f34a6;
  font-size: 20px;
  width: 50%;
  text-align: center;
}


.boton2:hover {
  color: white;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/009/831/146/small/banner-web-template-abstract-blue-and-golden-wave-curved-lines-overlapping-layer-design-on-dark-blue-background-luxury-style-vector.jpg);
  box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 140px;
  position: relative;

}

/* Estilos del título animado de la página */
.titulo_de_la_pagina {
  animation: animar-texto 7s ease-in-out infinite;
  /* Animación infinita */
  font-size: 60px;
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(https://img.pikbest.com/wp/202343/ultra-hd-exquisite-texture-abstract-beige-tan-background-with-rich-brown-hues_9983982.jpg!f305cw);
  /* Imagen de fondo para el texto */
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgb(180, 137, 96); /* Para navegadores basados en WebKit (Chrome, Safari) */
  text-stroke: 2px rgb(180, 137, 96); /* Para otros navegadores modernos */
  letter-spacing: 5px;
  /* Espaciado entre letras */
}

/* Animación del texto */
@keyframes animar-texto {
  0% {
    background-position: left top;
  }

  25% {
    background-position: right bottom;
  }

  50% {
    background-position: left bottom;
  }

  75% {
    background-position: right top;
  }

  100% {
    background-position: left bottom;
  }
}

.tiempo {
  margin: auto;
  width: 360px;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desplegable {
  width: 250px;
  position: absolute;
  display: none;
  top: 70px;
  color: black;
}

div nav ul li:focus-within>.desplegable,
div nav ul li:hover>.desplegable {
  display: initial;
}


.time {
  width: 250px;
  font-size: 17px;
}

.desplegable p {
  font-size: 20px;
  margin: 0%;
  padding: 0%;
}

.boton {
  margin-top: 10px;
  padding: 10px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(17, 187, 17);
  color: #f7f7f7;
  font-size: 20px;
}

.tiemp {
  margin: auto;
  width: 360px;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desplegabl {
  width: 250px;
  position: absolute;
  display: none;
  top: 70px;
  color: black;


}

div nav ul li:focus-within>.desplegabl,
div nav ul li:hover>.desplegabl {
  display: initial;
}


.tim {
  padding: 10px;
  width: 250px;
  font-size: 17px;
  color: #ffffff;
}



.boto {
  margin-top: 10px;
  padding: 10px;
  width: 100px;
  font-size: 20px;
  background-color: rgb(250, 2, 2);
  color: #f7f7f7;
}

.ubicacion {
  position: relative;
  top:250px;
  left: 50px;
  
}

.mapa {
  position: absolute;
  top: 300px;
  left: 20px;
}

.boton-perfil{
  background-color: transparent; /* Hace que el fondo del botón sea transparente */
  border: none; /* Elimina el borde del botón por defecto */
  cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
  padding: 0; /* Elimina el relleno interno del botón */
  position: relative;
}
.boton-perfil img {
  width: 70px; /* Ajusta el ancho de la imagen al tamaño del botón */
  height: auto; /* Mantiene las proporciones de la imagen */
}
.boton-cierre-sesion {
  display: none; /* Oculta el submenu por defecto */
  position: absolute;
  top: 100%; /* Posiciona el submenu justo debajo del botón principal */
  left: 0;
  background-color: #cf731c;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background: linear-gradient(to right, #f2711c, #e94058); /* Degradado de colores */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra */
  color: #fff; /* Color del texto blanco */
  text-decoration: none; /* Quita el subrayado */
}
.boton-perfil:hover .boton-cierre-sesion{
  display: block;
}
.boton-cierre-sesion a{
  color: #333; /* Color del texto del enlace */
  text-decoration: none; /* Quita el subrayado */
  display: block; /* Muestra el enlace en bloque */
  padding: 5px; /* Espacio interno del enlace */
  transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}



