* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del cuerpo */
body {
  font-family: Arial, sans-serif;
  background-image:  url(https://images.unsplash.com/photo-1663970206579-c157cba7edda?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZG8lMjBkZSUyMHBhbnRhbGxhJTIwcGFyYSUyMHBjfGVufDB8fDB8fHww );
width: auto;
height: auto;
  padding: 10px;
  margin: 5px;
  
}

/* Estilo de la clase logo */
.logo{
  width: 100px;
  height: auto;
  right:550px ;
  position: relative;
  padding-top: 20px;
  background-color:transparent ;
}

.header {
  width: 100%; /* Ocupa el 100% del ancho */
  height: 60px; /* Altura del header */
  color: white;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  position: relative;
  left: 0;
  z-index: 1000; /* Asegura que el header esté siempre encima */
}

.titulo_de_la_pagina {
  animation: animar-texto 7s ease-in-out infinite; /* Animación infinita */
  font-size: 60px;
  text-align: center;
  color: transparent;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-iQPWNssZFBbTQF3IRHWVYQuhXI-Fl881dg&s); /* Imagen de fondo para el texto */
  text-transform: uppercase;
  letter-spacing: 5px; /* Espaciado entre letras */
}


@keyframes animar-texto {
  0% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left bottom;
  }
}



.header {
  width: 100%; /* Ocupa el 100% del ancho */
  height: 60px; /* Altura del header */
  color: white;
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  position: relative;
  left: 0;
  z-index: 1000; /* Asegura que el header esté siempre encima */
}

.nav{

  position: fixed;
  top: 200px;
}
  
  /* Menú lateral */
  .menulateral {
    width: 100px; /* Fijar el ancho del menú lateral */
    height: 100%; /* Ocupa toda la altura disponible */
    color: rgb(255, 253, 253);
    position: absolute; /* Fijado en la parte izquierda */
    z-index: 1000;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
  }

  

  .menulateral a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
  }


  .menulateral a :hover{
    color: white;
  }
    
  li {
    padding-top:20px ;
    display: flex;
    cursor: pointer;
    transition: all 300ms ease-in; /* Transición suave al hacer hover */
    width: auto;
    text-align: center;
  }
  
  /* Efecto hover en los elementos de la lista */
  li:hover {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230415/pngtree-website-technology-ray-blue-background-image_2344464.jpg);
    border: solid 1px rgb(252, 251, 251);
    color: white;
  }

  .tex{
    top: 40px;
    position: relative;
    width: 80%; /* Ocupa todo el ancho disponible */
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 200px;
  }

  h1 {
    color: #ffffff; /* Color gris */
    font-size: 22px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 70px;
  
  }

  .tiempo{
    margin: auto;
    text-align: center;
    width: 360px;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg)
    
    
}

.desplegable{
width: 250px;
display: flex;
flex-direction: column;
display: flex;
padding: 15px;
position:absolute;
left:100px ;
display: none; 


}

div nav ul .inicio:focus-within>.desplegable,
div nav ul .inicio:hover>.desplegable{
    display: initial;
}


.time{
    padding: 10px;
    width: 250px;
    font-size: 17px;
    color: #000;
    position: relative;
    left: 40px;     
}

.desplegable p {
   
    font-size: 20px;
    color:rgb(247, 250, 247) ;
    margin: 0%;
    padding: 0%;
    display: flex;
    
    
    

}

.boton{
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    background-color: rgb(17, 187, 17);
    color: #f7f7f7;
    


}
  

.tiemp{
  margin: auto;
  text-align: center;
  width: 360px;
  background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
  color: white;
  
  
}

.desplegabl{
width: 250px;
display: flex;
flex-direction: column;
display: flex;
padding: 15px;
position:absolute;
left:100px ;
display: none; 
color: white;


}

div nav ul .salida:focus-within>.desplegabl,
div nav ul .salida:hover>.desplegabl{
  display: initial;
}


.tim{
  padding: 10px;
  width: 250px;
  font-size: 17px;
  color: #ffffff;
  position: relative;
  left: 40px;     
}



.boto{
  margin-top: 10px;
  padding: 10px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(250, 2, 2);
  color: #f7f7f7;
}


