.tiempo{
    margin: auto;
    width: 360px;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desplegable{
width: 250px;
position: absolute;
display: none; 
top: 70px;
color: black;
}

div nav ul li:focus-within>.desplegable,
div nav ul li:hover>.desplegable{
    display: initial;
}


.time{
width: 250px;
font-size: 17px; 
}

.desplegable p {
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}

.boton{
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    background-color: rgb(17, 187, 17);
    color: #f7f7f7;
    font-size: 20px;
}

