* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo general del cuerpo */
  body {
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0); /* Fondo negro */
    padding: 10px;
    margin: 5px;
  }
  
  /* Estilo de la clase logo */
  .logo{
    width: 190px;
    height: auto;
    right: 180px;
    position: relative;
    padding-top: 20px;
 
   
  }
  
  /* Estilos del encabezado */
  .header {
    width: 100%; /* Ocupa el 100% del ancho */
    height: 60px; /* Altura del header */
    color: white;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    position: relative;
    left: 0;
    z-index: 1000; /* Asegura que el header esté siempre encima */
  }
  
  /* Estilos del título animado de la página */
  .titulo_de_la_pagina {
    animation: animar-texto 7s ease-in-out infinite; /* Animación infinita */
    font-size: 60px;
    text-align: center;
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-iQPWNssZFBbTQF3IRHWVYQuhXI-Fl881dg&s); /* Imagen de fondo para el texto */
    text-transform: uppercase;
    letter-spacing: 5px; /* Espaciado entre letras */
  }
  
  /* Animación del texto */
  @keyframes animar-texto {
    0% {
      background-position: left top;
    }
    25% {
      background-position: right bottom;
    }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }
    100% {
      background-position: left bottom;
    }
  }
  
.nav{

  position: fixed;
  top: 200px;
}
  
  /* Menú lateral */
  .menulateral {
    width: 100px; /* Fijar el ancho del menú lateral */
    height: 100%; /* Ocupa toda la altura disponible */
    color: white;
    position: absolute; /* Fijado en la parte izquierda */
    z-index: 1000;
    margin-right: 20px;
    display: flex;
    align-items: center;
    

  }

  a{
    text-decoration: none;
    color: white;
  }
  
  /* Estilo del título del menú */
  .menutitle {
    font-size: 40px;
  }
  
  
  /* Estilo de las listas del menú lateral */
  li {
    padding-top:20px ;
    display: flex;
    cursor: pointer;
    transition: all 300ms ease-in; /* Transición suave al hacer hover */
    width: auto;
    text-align: center;
  }
  
  /* Efecto hover en los elementos de la lista */
  li:hover {
    background-color:#AB674F;
    border: solid 1px rgb(252, 251, 251);
  }
  
  
  
  
  /* Sección principal */
  .section {
    top: 40px;
    position: relative;
    width: 80%; /* Ocupa todo el ancho disponible */
    height: 100%;
    display: flex;
    flex-direction: column;
    left: 200px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(252, 251, 251, 0.1)/*ombra alrededor de la sección */

  }

  
  /* Estilo del título de la sección */
  .titulo {
    color: hsla(0, 0%, 0%, 0.9); /* Color negro con algo de transparencia */
    font: normal 19px "Varela Round", sans-serif;
    font-size: 30px;
    letter-spacing: 4px; /* Espaciado entre letras */
    text-align: center;
    text-transform: uppercase; /* Todo en mayúsculas */
  }
  
  /* Estilo para los párrafos */
  p {
    color: #666; /* Color gris */
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  /* Estilo para la sección de actualización */
  .Actualización {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-content: center;
    position: relative;
    left: 280px;
    align-items: center;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220628/pngtree-complex-tech-background-with-molecules-and-data-connection-form-design-photo-image_37390678.jpg);
    gap: 1px; /* Espacio entre los elementos */
    width: 50%;
    border: solid black 1px;
    padding: 5px;
  }
  
  /* Estilo para los labels */
  .Actualización label  {
    background-color: white;
    font-size: 14px;
    margin-bottom: 2px;
    border: solid black 1px;
    width: 80%;
    padding: 10px;
  }
  
  /* Estilo para los campos de input y select */
  .Actualización  input {
    padding: 15px;
    border: 1px solid #000000; /* Borde gris claro */
    font-size: 16px;
    width: 80%; /* Ocupa todo el ancho disponible */
  }

  .dias{
    display: none;
    position: absolute;
    
  }


  .section .Actualización #disponibles:focus-within>.dias,
  .section .Actualización #disponibles:hover>.dias{
    display: initial;
}
  
  
#fecha-evento{
  background-color: white;
  width: 80%;
  color: #000000;
  border: solid 1px black;
  border-radius: 0%;
}
  
  /* Estilo de los botones */
  .btnprimary {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    background-color:#584037
  }
  
  /* Estilo para el botón primario */
  .primary {
    background-image: linear-gradient(to right, #4A322A, #EBCCC8);
  }
  
  /* Efecto hover para el botón primario */
  .primary:hover {
    background-image: linear-gradient(to right, #9b87be, #e4b4ae);
  }
  .calendar-container {
    margin-top: 20px; /* Espacio entre la sección y el calendario */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    background-color: #fff; /* Fondo blanco para el calendario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el calendario */
  }

.contfor{
  width: 78.2%;
  height:auto;
  position:absolute;
  left:215px ;
  background-color:white;
  display: flex;
  margin-top: 50px;
  padding: 10px;
  align-items: center;
  align-content: center;
}

  /* From Uiverse.io by guilhermeyohan */ 
  .form {
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    padding: 10px;
    width: 50%;
    border: #000000 solid 1px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220628/pngtree-complex-tech-background-with-molecules-and-data-connection-form-design-photo-image_37390678.jpg);
     
  }

  .contfor .form label:focus-within>#dias,
  .contfor .form label:hover>#dias{
    display: initial;
}

.contfor .form label:focus-within>#dias-sema,
.contfor .form label:hover>#dias-semana{
  display: initial;
}

#dias-semana{
  display: none;
  position: absolute;
}

#dias{
  display: none;
  position: absolute;
}

.form label{
  padding: 5px;
}

  #send {
    --glow-color: #74615c;
    --glow-spread-color: #866d65;
    --enhanced-glow-color:  #EBCCC8;
    --btn-color: #584037;
    border: .25em solid var(--glow-color);
    padding: 1em 2em;
    color: var(--glow-color);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 1em var(--glow-spread-color),
          inset 0 0 .05em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }
  
  #send::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
  }
  
  #send:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 2em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
  }
  
  #send:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
          0 0 2.5em 2em var(--glow-spread-color),
          inset 0 0 .5em .25em var(--glow-color);
  }