* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo general del cuerpo */
  body {
    font-family: Arial, sans-serif;
    background: rgb(0, 0, 0); /* Fondo negro */
    padding: 10px;
    margin: 5px;
  }
  
  /* Estilo de la clase logo */
  .logo{
    width: 190px;
    height: auto;
    right: 180px;
    position: relative;
    padding-top: 20px;
 
   
  }
  
  /* Estilos del encabezado */
  .header {
    width: 100%; /* Ocupa el 100% del ancho */
    height: 60px; /* Altura del header */
    color: white;
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    position: relative;
    left: 0;
    z-index: 1000; /* Asegura que el header esté siempre encima */
  }
  
  /* Estilos del título animado de la página */
  .titulo_de_la_pagina {
    animation: animar-texto 7s ease-in-out infinite; /* Animación infinita */
    font-size: 60px;
    text-align: center;
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-iQPWNssZFBbTQF3IRHWVYQuhXI-Fl881dg&s); /* Imagen de fondo para el texto */
    text-transform: uppercase;
    letter-spacing: 5px; /* Espaciado entre letras */
  }
  
  /* Animación del texto */
  @keyframes animar-texto {
    0% {
      background-position: left top;
    }
    25% {
      background-position: right bottom;
    }
    50% {
      background-position: left bottom;
    }
    75% {
      background-position: right top;
    }
    100% {
      background-position: left bottom;
    }
  }
  
  /* Contenedor principal, define el layout principal */
  .container_padre {
    display: flex;
    flex-direction: row;
    align-items: center;  
    
  }
  
  /* Menú lateral */
  .menulateral {
    width: 50px; /* Fijar el ancho del menú lateral */
    height: 100%; /* Ocupa toda la altura disponible */
    color: white;
    position: sticky; /* Fijado en la parte izquierda */
    z-index: 1000;
  }
  
  /* Estilo del título del menú */
  .menutitle {
    font-size: 40px;
  }
  
  
  /* Estilo de las listas del menú lateral */
  li {
    padding-top:20px ;
    display: flex;
    cursor: pointer;
    transition: all 300ms ease-in; /* Transición suave al hacer hover */
    width: 150px;
    text-align: center;
  }
  
  /* Efecto hover en los elementos de la lista */
  li:hover {
    background-color:#AB674F;
    border: solid 1px rgb(252, 251, 251);
  }
  
  
  
  
  /* Sección principal */
  .section {
    position: relative;
    width: 80%; /* Ocupa todo el ancho disponible */
    height: 100%;
    margin-left: 130px; /* Margen para evitar solaparse con el menú lateral */
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(252, 251, 251, 0.1)/*ombra alrededor de la sección */

  }
  
  /* Estilo del título de la sección */
  .titulo {
    color: hsla(0, 0%, 0%, 0.9); /* Color negro con algo de transparencia */
    font: normal 19px "Varela Round", sans-serif;
    font-size: 30px;
    letter-spacing: 4px; /* Espaciado entre letras */
    text-align: center;
    text-transform: uppercase; /* Todo en mayúsculas */
  }
  
  /* Estilo para los párrafos */
  p {
    color: #666; /* Color gris */
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  /* Estilo para la sección de actualización */
  .Actualización {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    align-content: center;
    position: relative;
    left: 150px;
    
    gap: 1px; /* Espacio entre los elementos */
    width: 70%;
    border: solid black 1px;
  }
  
  /* Estilo para los labels */
  .Actualización label  {
    color: #555; /* Color gris oscuro */
    font-size: 14px;
    margin-bottom: 2px;
    border: solid black 1px;
    width: 50%;
  }
  
  /* Estilo para los campos de input y select */
  .Actualización  input {
    padding: 5x;
    border: 1px solid #000000; /* Borde gris claro */
    font-size: 16px;
    width: 50%; /* Ocupa todo el ancho disponible */
  }


  label select :focus-within>option,
  label select :hover>option{
    display: initial;
}
  
  
  
  
  /* Estilo de los botones */
  .btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
  }
  
  /* Estilo para el botón primario */
  .primary {
    background-image: linear-gradient(to right, #4A322A, #EBCCC8);
  }
  
  /* Efecto hover para el botón primario */
  .primary:hover {
    background-image: linear-gradient(to right, #9b87be, #e4b4ae);
  }
  .calendar-container {
    margin-top: 20px; /* Espacio entre la sección y el calendario */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    background-color: #fff; /* Fondo blanco para el calendario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el calendario */
  }
  /* From Uiverse.io by guilhermeyohan */ 
  .form {
    background-color: #fff;
    position: relative;
    width: 87%; /* Ocupa todo el ancho disponible */
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    margin-left: 180px; /* Margen para evitar solaparse con el menú lateral */
  }
  
  .lb {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .infos[type="text"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color:#584037;
    color: white;
  }
  
  #send {
    --glow-color: #74615c;
    --glow-spread-color: #866d65;
    --enhanced-glow-color:  #EBCCC8;
    --btn-color: #584037;
    border: .25em solid var(--glow-color);
    padding: 1em 2em;
    color: var(--glow-color);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 1em var(--glow-spread-color),
          inset 0 0 .05em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
  }
  
  #send::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
  }
  
  #send:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 2em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
  }
  
  #send:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
          0 0 2.5em 2em var(--glow-spread-color),
          inset 0 0 .5em .25em var(--glow-color);
  }