.tiemp{
    margin: auto;
    text-align: center;
    width: 360px;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
    color: white;
    
    
}

.desplegabl{
width: 250px;
display: flex;
flex-direction: column;
display: flex;
padding: 15px;
position:absolute;
left:100px ;
display: none; 
color: white;


}

div nav ul .salida:focus-within>.desplegabl,
div nav ul .salida:hover>.desplegabl{
    display: initial;
}


.tim{
    padding: 10px;
    width: 250px;
    font-size: 17px;
    color: #ffffff;
    position: relative;
    left: 40px;     
}



.boto{
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    background-color: rgb(250, 2, 2);
    color: #f7f7f7;
}

