.tiemp{
    margin: auto;
    width: 360px;
    background-image: url(https://img.freepik.com/fotos-premium/fondo-pantalla-digital-azul-ancho-concepto-pagina-destino_670147-35323.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desplegabl{
    width: 250px;
    position: absolute;
    display: none; 
    top: 70px;
    color: black;


}

div nav ul li:focus-within>.desplegabl,
div nav ul li:hover>.desplegabl{
    display: initial;
}


.tim{
    padding: 10px;
    width: 250px;
    font-size: 17px;
    color: #ffffff;   
}



.boto{
    margin-top: 10px;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    background-color: rgb(250, 2, 2);
    color: #f7f7f7;
}

