body{
    background-image: url(../imagenes/fondo.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.formulario{
    width: 600px;
    background-color: black;
margin-top: 250px;
}



.titulo{
    position: absolute;
    left: 750px;
    color: rgb(0, 0, 0);
    top: 180px;
    font-size: 40px;
}

.container{
    border: 1px solid red;
}