body {
    background-image: url(../imagenes/fondo.jpg);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.formulario {
    width: 600px;
    background-color: #000000bd;
    margin-top: 150px;
}

.formulario label {
    color: white;
    padding-top: 5px;
}



.titulo {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);

    font-size: 40px;
    animation: animar-texto 7s ease-in-out infinite;
    /* Animación infinita */
    font-size: 50px;
    color: transparent;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: url(../imagenes/texto.avif);
    /* Imagen de fondo para el texto */
    text-transform: uppercase;
    letter-spacing: 5px;
}

@keyframes animar-texto {
    0% {
        background-position: left top;
    }

    25% {
        background-position: right bottom;
    }

    50% {
        background-position: left bottom;
    }

    75% {
        background-position: right top;
    }

    100% {
        background-position: left bottom;
    }
}